//
// contact.scss
//

.bg-contact{
  background-image: url(../images/overlay-3.png);
}

.contact-box{
  margin-bottom: -60px;
  margin-top: 90px;
  position: relative;
  background: $white;
  padding: 30px 40px 40px 40px;
  border-radius: 10px;
  box-shadow: $box-shadow;
}


textarea.form-control {
  height: auto !important;
}
.form-control {
  margin-bottom: 15px;
  box-shadow: none !important;
  height: 46px;
  padding-left: 20px;
  border: 1px solid #dfe9f1;
  font-size: 14px;
  color: $muted;
  border-radius: 30px;
  &:focus {
    border-color: #e4eef7;
  }
}

textarea.form-control {
  height: auto;
  padding-top: 13.5px;
}


