//
// cta.scss
//

.bg-cta{
background: $bg-gradient;
}


.cta-overlay{
  background-image: url(../images/overlay-2.png);
  opacity: 0.07;
  background-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
}

.cta-search{
  .form-control{
    border: none;
  }
  button{
    padding: 11px 24px;
    font-size: 15px;
  }
}

.cta-desc{
  max-width: 600px;
  margin: 0 auto;
}